<tr data-toggle="modal" data-target="#restaurant-<%= restaurant.id %>">
	<td><%= image_tag restaurant.thumb %></td>
	<td style="vertical-align:middle;"><strong><%= restaurant.name %></strong></td>
	<td style="vertical-align:middle;"><%= restaurant.city %></td>
	<td style="vertical-align:middle;"><%= restaurant.rating %></td>
	<td style="vertical-align:middle;">
		<% restaurant.price_range.to_i.times do %>
			<%= image_tag "logo.png", style: "width:20px;" %>
		<% end %>
	</td>
</tr>

<!-- Modal -->
<div class="modal fade" id="restaurant-<%= restaurant.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        	<% restaurant.price_range.to_i.times do %>
	      		<%= image_tag "logo.png", style: "width:60px;" %>
	      	<% end %>
        </h4>
      </div>
      <div class="modal-body">
        <h2><%= restaurant.clothing.title %></h2>
        <%= image_tag restaurant.clothing.clothes, style: "width:200px;" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Great!</button>
      </div>
    </div>
  </div>
</div>